<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">News Katoun</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="!auth.currentUserValue" class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!auth.currentUserValue" class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/signup" routerLinkActive="active">Sign up</a>
        </li>
        <li *ngIf="auth.currentUserValue" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{auth.currentUserValue.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/newArticle"><i class="fas fa-plus"></i>New article</a>
            </li>
            <li><a class="dropdown-item" (click)="auth.logout()" routerLink="/login"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
